.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
button {
    width: 6rem;
    min-height: 2rem;
    margin-top: 1rem;
}
label {
    margin-top: 1rem;
}